<div>本当に退会しますか？
退会すると、会員情報やこれまでの購入履歴が閲覧できなくなります。退会する場合は、「退会する」をクリックしてください。
</div>
<%= link_to end_users_path, class:"btn btn-primary" do %>退会しない<% end %>
<%= link_to end_users_confirm_path, method: :put, data: {confirm: "退会しますか？"},class: "btn btn-danger" do %>退会する<% end %>