<div class="container">
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-11">
            <div class="top_image">
                <h2>ようこそNaganoCakeへ！<br>このサイトは、ケーキ販売のECサイトになります。<br>会員でない方も商品の閲覧はできますが、<br>購入には会員登録が必要になります。</h2>
            </div>
            <h1>オススメ商品</h1>