<div>会員一覧</div>
<table>
<tr>
<th>会員ID</th>
<th>氏名</th>
<th>メールアドレス</th>
<th>ステータス</th>
</tr>
<% @end_user.each do |end_user| %>
<tr>
<td><%= end_user.id %></td>
<td><%= end_user.lastname %><%= end_user.firstname %></td>
<td><%= end_user.email %></td>
<td><% if end_user.is_deleted == true %>
退会済み
<% else %>
有効
<% end %></td>
</tr>
<% end %>
</table>